name: Backend build and deploy

on:
  push:
    path: "backend/**"
    branches: [ "main" ]

jobs:
  backend-docker:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./backend
          tags: |
            ghcr.io/${{ github.repository_owner }}/cycling-backend:latest
            ghcr.io/${{ github.repository_owner }}/cycling-backend:${{ github.sha }}
